# Global settings
#---------------------------------------------------------------------
global
    maxconn     20000
    log         /dev/log local0 info
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          300s
    timeout server          300s
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 20000

listen stats
    bind :9000
    mode http
    stats enable
    stats uri /

frontend okd4_k8s_api_frontend
    bind :6443
    default_backend okd4_k8s_api_backend
    mode tcp
    option tcplog

backend okd4_k8s_api_backend
    balance roundrobin
    mode tcp
    server      bootstrap OKD4_BOOTSTRAP_SERVER_IP:6443 check
    server      master0 OKD4_CONTROL_PLANE_0_IP:6443 check
    server      master1 OKD4_CONTROL_PLANE_1_IP:6443 check
    server      master2 OKD4_CONTROL_PLANE_2_IP:6443 check

frontend okd4_machine_config_server_frontend
    bind :22623
    default_backend okd4_machine_config_server_backend
    mode tcp
    option tcplog

backend okd4_machine_config_server_backend
    balance roundrobin
    mode tcp
    server      bootstrap OKD4_BOOTSTRAP_SERVER_IP:22623 check
    server      master0 OKD4_CONTROL_PLANE_0_IP:22623 check
    server      master1 OKD4_CONTROL_PLANE_1_IP:22623 check
    server      master2 OKD4_CONTROL_PLANE_2_IP:22623 check

frontend okd4_http_infra_traffic_frontend
    bind :80
    default_backend okd4_http_infra_traffic_backend
    mode tcp
    option tcplog

backend okd4_http_infra_traffic_backend
    balance roundrobin
    mode tcp
    server      infra0 OKD4_INFRA_NODE_0_IP:80 check
    server      infra1 OKD4_INFRA_NODE_1_IP:80 check

frontend okd4_https_infra_traffic_frontend
    bind :443
    default_backend okd4_https_infra_traffic_backend
    mode tcp
    option tcplog

backend okd4_https_infra_traffic_backend
    balance roundrobin
    mode tcp
    server      infra0 OKD4_INFRA_NODE_0_IP:443 check
    server      infra1 OKD4_INFRA_NODE_1_IP:443 check